<!--
  Generated template for the Hole page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>xIQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{state.tournament.name}}</h1>
  <p>Round {{state.tournament.players[0].score.length}}</p>
  <p>par {{hole.par}} | {{hole.yards}} yards</p>
  <h2>{{hole.name}}</h2>
  <div id="scoring">
    <ion-input autofocus type="tel" #score (keyup)="postScore(score.value)"></ion-input>
    <h3>{{this.term[score.value - hole.par + 3]}}</h3>
    <!--<ion-list id="stats">
      <ion-item>
        <ion-input type="checkbox"></ion-input>
        <ion-label>G.I.R.</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="number"></ion-input>
        <ion-label>putts</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="number"></ion-input>
        <ion-label>penalty</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="number"></ion-input>
        <ion-label>sand</ion-label>
      </ion-item>
    </ion-list>-->
  </div>
  <!--<h4>score {{score.value}}</h4>-->
  <button *ngIf="hole.id < (state.venue.holes.length - 1)" (click)="nextHole(hole)">next hole</button>
  <button *ngIf="hole.id == (state.venue.holes.length - 1)" (click)="finish()">finish round</button>
</ion-content>